.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.title {
  display: inline-block;
  font-weight: 600px;
  font-size: 18px;
  margin-right: 94px;
}

.p {
  margin: 0px;
}

.logo {
  width: 50px;
  height: 50px;
  /* margin-right: 53px; */
  border-radius: 15px;
  margin-left: 900px;
  margin-top: 10px;
  margin-bottom: 10px;
  object-fit: cover;
}

.logowebnya {
  width: 500px;
  height: 550px;
  position: absolute;
  margin-left: 100px;
  margin-top: 150px;
}

.menu {
  position: absolute;
  display: inline-block;
  margin-top: 6px;
  margin-bottom: 1612px;
  margin-left: 1048px;
  /* margin-right: 52px; */
}

.Page1 {
  margin-top: 0px;
  height: 713px;
  width: 1530px;
  background-color: #d7cec7;
}

.judul {
  position: absolute;
  width: 697px;
  height: 438px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 130px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  margin-left: 720px;

  color: #76323f;
}

.deskripsi {
  position: absolute;
  width: 523px;
  height: 90px;

  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: justify;
  letter-spacing: -0.02em;

  margin-left: 723px;
  margin-top: 390px;

  color: #565656;
}

.welcome {
  position: absolute;
  width: 170px;
  height: 39px;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 39px;

  margin-left: 720px;
  margin-top: 212px;

  letter-spacing: -0.02em;

  color: #ffffff;
}

.triangle {
  position: absolute;
  width: 287px;
  height: 312px;

  background: #565656;
  box-shadow: 20px 20px 4px rgba(86, 86, 86, 0.25);
}

.about {
  position: absolute;
  width: 162px;
  height: 28px;

  /* Header 1 */

  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.02em;

  margin-top: 136px;
  margin-left: 680px;

  color: #565656;
}

.about-2 {
  position: absolute;
  width: 780px;
  height: 144px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: -0.02em;

  margin-top: 203px;
  margin-left: 380px;

  color: #565656;
}

.Footer {
  position: absolute;
  width: 1528px;
  height: 349px;
  margin-top: 481px;

  background: #c09f80;
}

.gambar-footer {
  width: 138px;
  height: 138px;
  border-radius: 50px;
  object-fit: cover;
  margin-top: 88px;
  margin-left: auto;
  margin-right: auto;
  margin-inline-start: 46px;
  /* position: absolute;
  width: 139px;
  height: 138px;
  object-fit: cover;
  border-radius: 50px;
  margin-right: 46px;
  margin-left: 50px; */
}
 /* .Navigation {
   margin-left: 163px;
   margin-top: 19px;
 } */