.header-list {
    position: absolute;
    width: 54px;
    height: 23px;
    font-family: Sarabun;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.02em;
    color: #000000;
    float: left;
    padding: 33px 20px;
}

li {
    list-style: none;
}


.body .about{
    /* ABOUT */
position: absolute;
width: 162px;
height: 28px;
}

.about h1{
    /* Header 1 */
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.02em;

    color: #565656;
}

.body .about p{
    position: absolute;
    width: 780px;
    height: 144px;
}

.about p{
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 14px;
    text-align: center;
    letter-spacing: -0.02em;

    color: #565656;
}

